name: Dependency_parser
channels:
  - defaults
  - conda-forge
  - pytorch
dependencies:
  - python=3.8
  - numpy=1.23.2
  - scipy=1.7.3
  - scikit-learn=1.1.1
  - matplotlib=3.5.3
  - tqdm=4.64.1
  - docopt=0.6.2
  - notebook
  - pip=22.1.2
  - pip:
    - sentencepiece
    - sacrebleu
    - nltk
    - timeout_decorator
    - "--find-links https://download.pytorch.org/whl/torch_stable.html"
    - torch==1.12.0; sys_platform != "linux" and sys_platform != "win32"
    - torchvision==0.13.0; sys_platform != "linux" and sys_platform != "win32"
    - torch==1.12.0+cpu; sys_platform == "linux" or sys_platform == "win32"
    - torchvision==0.13.0+cpu; sys_platform == "linux" or sys_platform == "win32"